proxy=http://sgproxy.gfoundries.com:8080/                                                                                                                                                                                                                                                                                
https-proxy=http://sgproxy.gfoundries.com:8080